html {
  font-family: sans-serif;
}

article {
  padding: 10px;
  margin: 10px;
  background: #BA68C8;
  flex: 1 200px;
}

body {
  margin: 0;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
  height: 100px;
  background-color: #AFB42B;
  border-radius: 0 0 50px 50px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

.section-final {
  display: flex;
  flex-wrap: wrap;
}

article:nth-of-type(3) {
  flex: 3 200px;
  display: flex;
  flex-flow: column;
}

article:nth-of-type(3) div:first-child {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 100px;
}

button {
  flex: 1 auto;
  margin: 5px;
  font-size: 18px;
  line-height: 1.5;
}

#oneul {
  max-width: 700px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a:link,
nav a:visited {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: #fff;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
}

#oneul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#twoul {
  display: flex;
  flex-flow: row;
  max-width: 700px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.twoli {
  flex: 1;
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: $fff;
  padding: 0.5em;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  width: 400px;
  height: 300px;
}

.child {
  background-color: #4d7298;
  color: #fff;
  padding: 0.5em;
  width: 150px;
}

#fourul {
  width: 450px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.fourli {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  text-wrap: nowrap;
  flex: auto;
}